.App {
  text-align: center;
}

/* .bigCard, .card {
  background-color: #566673;
} */

.btn {
  background-color: #2d4055 !important;
}

.card-body-1, .card-body-2, .chart, .card {
  border-radius: 25px;
  background-color: #2d4055;
}

